.mat-card-avatar{
  background-color: #CFD8DC;
  border-radius: 0%;
  width: 60px;
  height: 60px;
}

.mat-card-content{
  margin-top: 10px;
}

img{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.icon-lot-empty{
  transform: scale(1.5);
}

.box{
  border: 1px solid #FF0266;
  border-radius: 5px;
  margin: 2px;
  padding: 4px;
}
