/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color-primary{
  color: #0097a7;
}

.container{
  margin-top: 25px;
  margin-bottom: 25px;
}

